{% include 'header.html'%}
<main>
    <div class="container" style="height:1300px;">
        <div class="row mt-5 pt-5">
            <div class="col text-center">
                <h2>voting panel</h2>
            </div>
        </div>
<div class="container">
        <div class="row">
          <div class="col" style="background:yellow;">
          </div>
          <div class="col-8">
              <!-- Material form register -->
<div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
            <strong>fill the following details</strong>
        </h5>
    
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
    

                <form class="text-center" style="color: #757575;" enctype="multipart/form-data" action="voterlogin" method="POST">
                
                    <div class="form-row">
                            <div class="col">
                                <!-- First name -->
                                <div class="md-form">
                                    <input type="text" name="voterid"  id="materialRegisterFormFirstName" class="form-control">
                                    <label for="materialRegisterFormFirstName">voter id</label>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

                </form>










    
            </div>
    
        </div>
        <!-- Material form register -->
              </div>
              <div class="col" style="background:blue;">
              </div>
            </div>
          </div>








{% include 'footer.html'%}